@import url(https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap);
/*
  Flaticon icon font: Flaticon
  Creation date: 09/01/2020 08:18
*/
@font-face {
  font-family: "Flaticon";
  src: url("../uploads/fonts/Flaticon.eot");
  src: url("../uploads/fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../uploads/fonts/Flaticon.woff2") format("woff2"), url("../uploads/fonts/Flaticon.woff") format("woff"), url("../uploads/fonts/Flaticon.ttf") format("truetype"), url("../uploads/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-calendar:before {
  content: "\f100";
}

.flaticon-percent:before {
  content: "\f101";
}

.flaticon-money-bag:before {
  content: "\f102";
}

.flaticon-close:before {
  content: "\f103";
}

.flaticon-filter-results-button:before {
  content: "\f104";
}

.flaticon-pin:before {
  content: "\f105";
}

.flaticon-street-view:before {
  content: "\f106";
}

.flaticon-photo-camera:before {
  content: "\f107";
}

.flaticon-share:before {
  content: "\f108";
}

.flaticon-printer:before {
  content: "\f109";
}

.flaticon-tick:before {
  content: "\f10a";
}

.flaticon-play:before {
  content: "\f10b";
}

.flaticon-college-graduation:before {
  content: "\f10c";
}

.flaticon-heartbeat:before {
  content: "\f10d";
}

.flaticon-front-of-bus:before {
  content: "\f10e";
}

.flaticon-pdf:before {
  content: "\f10f";
}

.flaticon-document:before {
  content: "\f110";
}

.flaticon-download:before {
  content: "\f111";
}

.flaticon-smartphone-call:before {
  content: "\f112";
}

.flaticon-telephone:before {
  content: "\f113";
}

.flaticon-black-back-closed-envelope-shape:before {
  content: "\f114";
}

.flaticon-layers:before {
  content: "\f115";
}

.flaticon-envelope:before {
  content: "\f116";
}

.flaticon-home:before {
  content: "\f117";
}

.flaticon-heart:before {
  content: "\f118";
}

.flaticon-invoice:before {
  content: "\f119";
}

.flaticon-magnifying-glass:before {
  content: "\f11a";
}

.flaticon-chat:before {
  content: "\f11b";
}

.flaticon-box:before {
  content: "\f11c";
}

.flaticon-user:before {
  content: "\f11d";
}

.flaticon-logout:before {
  content: "\f11e";
}

.flaticon-view:before {
  content: "\f11f";
}

.flaticon-edit:before {
  content: "\f120";
}

.flaticon-garbage:before {
  content: "\f121";
}

.flaticon-reply:before {
  content: "\f122";
}

.flaticon-left-arrow:before {
  content: "\f123";
}

.flaticon-transfer:before {
  content: "\f124";
}

.flaticon-zoom-in:before {
  content: "\f125";
}

.flaticon-drop-down-arrow:before {
  content: "\f126";
}

.flaticon-maps-and-flags:before {
  content: "\f127";
}

.flaticon-more:before {
  content: "\f128";
}

.flaticon-transfer-1:before {
  content: "\f129";
}

.flaticon-high-five:before {
  content: "\f12a";
}

.flaticon-home-1:before {
  content: "\f12b";
}

.flaticon-profit:before {
  content: "\f12c";
}

.flaticon-next:before {
  content: "\f12d";
}

.flaticon-arrows:before {
  content: "\f12e";
}

.flaticon-angle-arrow-down:before {
  content: "\f12f";
}

.flaticon-plus:before {
  content: "\f130";
}

.flaticon-mouse:before {
  content: "\f131";
}

.flaticon-mouse-1:before {
  content: "\f132";
}

.flaticon-back:before {
  content: "\f133";
}

.flaticon-download-1:before {
  content: "\f134";
}

.flaticon-upload:before {
  content: "\f135";
}

.flaticon-left-arrow-1:before {
  content: "\f136";
}

.flaticon-right-arrow:before {
  content: "\f137";
}

.flaticon-download-arrow:before {
  content: "\f138";
}

.flaticon-house:before {
  content: "\f139";
}

.flaticon-house-1:before {
  content: "\f13a";
}

.flaticon-house-2:before {
  content: "\f13b";
}

.flaticon-building:before {
  content: "\f13c";
}

.flaticon-placeholder:before {
  content: "\f13d";
}

.flaticon-play-button:before {
  content: "\f13e";
}

.flaticon-caret-down:before {
  content: "\f13f";
}

.flaticon-password:before {
  content: "\f140";
}

.flaticon-login:before {
  content: "\f141";
}

.flaticon-user-1:before {
  content: "\f142";
}

body {
  position: relative;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.65;
}

body header .page-head {
  padding: 10px 0;
}

body header .page-head nav .navbar-brand span {
  line-height: 1.8;
  font-weight: bold;
  font-size: 28px;
  margin-left: 10px;
}

body header .page-head nav ul li {
  margin-right: 30px;
}

body header .page-head nav ul li:nth-child(6) {
  margin-right: 0;
}

body header .page-head nav ul li a {
  color: #484848;
}

body header .page-head nav ul li button {
  font-size: 16px;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
  color: #fff;
  width: 180px;
  height: 50px;
  border-radius: 25px;
  text-transform: capitalize;
}

body header .page-head nav ul .nav-login {
  position: relative;
}

body header .page-head nav ul .nav-login::before {
  background-color: #e8eef2;
  content: "";
  height: 38px;
  left: -5px;
  position: absolute;
  right: 0;
  width: 1px;
  margin-left: 5px;
}

body header .page-head nav ul .nav-login .flaticon-user::before {
  padding-right: 10px;
}

body a:hover {
  text-decoration: none;
}

body section {
  padding: 60px 0;
}

body section .sections-head h3 {
  font-weight: 800;
  text-transform: capitalize;
  font-size: 2rem;
}

body section .sections-head p {
  color: #777777;
  letter-spacing: 1px;
}

body .col-half-offset {
  margin-left: 4.166666667%;
}

body .owl-one .owl-dots .owl-dot,
body .owl-two .owl-dots .owl-dot,
body .owl-sidebar .owl-dots .owl-dot {
  background-color: transparent;
  margin-right: 15px;
  vertical-align: middle;
  transition: all 0.3s ease;
}

body .owl-one .owl-dots .owl-dot span,
body .owl-two .owl-dots .owl-dot span,
body .owl-sidebar .owl-dots .owl-dot span {
  background-color: #cccccc;
  border-radius: 50%;
  margin: 3px;
  width: 6px;
  height: 6px;
  transition: all 0.3s ease;
}

body .owl-one .owl-dots .owl-dot:hover span,
body .owl-two .owl-dots .owl-dot:hover span,
body .owl-sidebar .owl-dots .owl-dot:hover span {
  background: #869791;
}

body .owl-one .owl-dots .active span,
body .owl-two .owl-dots .active span,
body .owl-sidebar .owl-dots .active span {
  background-color: #202020 !important;
  border: 5px solid #e0e2e3;
  height: 15px;
  width: 15px;
}

body #header-info {
  background-image: url(../uploads/img/bg.jpg);
  background-size: cover;
  background-position: center center;
  height: 1000px;
  padding: 30px 0 0 15px;
  background-color: #1d293e;
}

body #header-info .navbar-brand {
  font-weight: 800;
}

body #header-info a {
  color: #fff;
}

body #header-info ul li {
  margin-right: 40px;
}

body #header-info .find-home {
  margin-top: 300px;
}

body #header-info .find-home .fh-about {
  color: #fff;
}

body #header-info .find-home .fh-about h1 {
  font-weight: 800;
  font-size: 55px;
  text-transform: capitalize;
}

body #header-info .find-home .fh-about h5 {
  font-weight: 550;
}

body #header-info .find-home .fh-pills {
  margin-top: 40px;
}

body #header-info .find-home .fh-pills ul li {
  display: inline-block;
  width: 120px;
  height: 50px;
  background-color: #fff;
  border-radius: 8px;
}

body #header-info .find-home .fh-pills ul li a {
  color: #000;
  line-height: 3.1;
  font-weight: 550;
}

body #header-info .find-home .fh-pills ul .active {
  background-color: #ff5a5f;
}

body #header-info .find-home .fh-pills .tab-content {
  position: relative;
}

body #header-info .find-home .fh-pills .tab-content .fh-dpd {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 50px 0px rgba(32, 32, 32, 0.15);
  right: 0;
  position: absolute;
  top: 150px;
  width: 100%;
  padding: 30px;
  color: #4f4f4f;
}

body #header-info .find-home .fh-pills .tab-content .fh-dpd h2 {
  color: #006c70;
  font-size: 18px;
  text-align: left;
}

body #header-info .find-home .fh-pills .tab-content .fh-dpd .form-check {
  margin-bottom: 30px;
  font-size: 14px;
  text-transform: capitalize;
}

body #header-info .find-home .fh-pills .tab-content .fh-dpd .form-check .form-check-input {
  border: 1px solid #dddddd;
}

body #header-info .find-home .fh-pills .tab-content .fh-dpd select {
  width: 190px;
  height: 50px;
  color: #4f4f4f;
  font-size: 14px;
  border: 1px solid #ebebeb;
  line-height: 40px;
  background-color: #fff;
  border-radius: 8px;
}

body #header-info .find-home .fh-pills .tab-content .fh-dpd button {
  color: #ff5a5f;
  font-weight: bold;
}

body #header-info .find-home .fh-pills .tab-content .fh-search {
  background-color: #fff;
  border: 5px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body {
  padding: 30px 15px;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .form-control {
  display: inline-block;
  width: auto;
  color: #000;
  font-size: 14px;
  height: 50px;
  margin-left: 20px;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .form-control::placeholder {
  color: #000;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .fh-search-location {
  position: relative;
  display: inline-block;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .fh-search-location .fas {
  position: absolute;
  right: 13px;
  top: 17px;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .fh-dropdown {
  position: relative;
  color: #000;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .btn {
  width: 170px;
  height: 50px;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
  border-radius: 8px;
  font-weight: 600;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .btn:hover {
  background-color: #fff;
  border: 2px solid #ff5a5f;
  color: #ff5a5f;
}

body #featured,
body #listing,
body #agent-list {
  background-color: #f7f7f7;
}

body #featured .fp-card,
body #listing .fp-card,
body #agent-list .fp-card {
  margin-top: 30px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  transition: all 0.3s ease;
}

body #featured .fp-card:hover,
body #listing .fp-card:hover,
body #agent-list .fp-card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
}

body #featured .fp-card .fp-thumb,
body #listing .fp-card .fp-thumb,
body #agent-list .fp-card .fp-thumb {
  position: relative;
}

body #featured .fp-card .fp-thumb img,
body #listing .fp-card .fp-thumb img,
body #agent-list .fp-card .fp-thumb img {
  border-radius: 8px;
}

body #featured .fp-card .fp-thumb .red-con,
body #listing .fp-card .fp-thumb .red-con,
body #agent-list .fp-card .fp-thumb .red-con {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ff5a5f;
  color: #fff;
  padding: 3px 12px;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 14px;
}

body #featured .fp-card .fp-thumb .fp-on-thumb,
body #listing .fp-card .fp-thumb .fp-on-thumb,
body #agent-list .fp-card .fp-thumb .fp-on-thumb {
  position: relative;
}

body #featured .fp-card .fp-thumb .fp-on-thumb .fp-left-side,
body #listing .fp-card .fp-thumb .fp-on-thumb .fp-left-side,
body #agent-list .fp-card .fp-thumb .fp-on-thumb .fp-left-side {
  position: absolute;
  top: -45px;
  left: 30px;
}

body #featured .fp-card .fp-thumb .fp-on-thumb .fp-left-side .fp-price,
body #listing .fp-card .fp-thumb .fp-on-thumb .fp-left-side .fp-price,
body #agent-list .fp-card .fp-thumb .fp-on-thumb .fp-left-side .fp-price {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
}

body #featured .fp-card .fp-thumb .fp-on-thumb .fp-left-side .text-muted,
body #listing .fp-card .fp-thumb .fp-on-thumb .fp-left-side .text-muted,
body #agent-list .fp-card .fp-thumb .fp-on-thumb .fp-left-side .text-muted {
  color: #fff !important;
}

body #featured .fp-card .fp-thumb .fp-on-thumb .fp-right-side,
body #listing .fp-card .fp-thumb .fp-on-thumb .fp-right-side,
body #agent-list .fp-card .fp-thumb .fp-on-thumb .fp-right-side {
  position: absolute;
  right: 30px;
  bottom: 10px;
  color: #fff;
}

body #featured .fp-card .fp-thumb .fp-on-thumb .fp-right-side .fp-black-bg,
body #listing .fp-card .fp-thumb .fp-on-thumb .fp-right-side .fp-black-bg,
body #agent-list .fp-card .fp-thumb .fp-on-thumb .fp-right-side .fp-black-bg {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  width: 35px;
  height: 35px;
  margin: 3px;
  border-radius: 8px;
  text-align: center;
}

body #featured .fp-card .fp-thumb .fp-on-thumb .fp-right-side .fp-black-bg i,
body #listing .fp-card .fp-thumb .fp-on-thumb .fp-right-side .fp-black-bg i,
body #agent-list .fp-card .fp-thumb .fp-on-thumb .fp-right-side .fp-black-bg i {
  line-height: 2.2;
}

body #featured .fp-card .fp-body,
body #listing .fp-card .fp-body,
body #agent-list .fp-card .fp-body {
  margin: 15px 0 20px 10px;
}

body #featured .fp-card .fp-body .fp-category,
body #listing .fp-card .fp-body .fp-category,
body #agent-list .fp-card .fp-body .fp-category {
  color: #ff5a5f;
  font-size: 14px;
}

body #featured .fp-card .fp-body .fp-title,
body #listing .fp-card .fp-body .fp-title,
body #agent-list .fp-card .fp-body .fp-title {
  font-weight: 700;
  font-size: 18px;
}

body #featured .fp-card .fp-body .fp-address,
body #listing .fp-card .fp-body .fp-address,
body #agent-list .fp-card .fp-body .fp-address {
  font-size: 14px;
  line-height: 1.2;
  word-spacing: -3px;
}

body #featured .fp-card .fp-body .fp-about,
body #listing .fp-card .fp-body .fp-about,
body #agent-list .fp-card .fp-body .fp-about {
  font-size: 14px;
  line-height: 1.2;
}

body #featured .fp-card .fp-body .fp-about .fp-about-bed,
body #featured .fp-card .fp-body .fp-about .fp-about-baths,
body #listing .fp-card .fp-body .fp-about .fp-about-bed,
body #listing .fp-card .fp-body .fp-about .fp-about-baths,
body #agent-list .fp-card .fp-body .fp-about .fp-about-bed,
body #agent-list .fp-card .fp-body .fp-about .fp-about-baths {
  margin-right: 30px;
}

body #featured .fp-card .fp-body .fp-author,
body #listing .fp-card .fp-body .fp-author,
body #agent-list .fp-card .fp-body .fp-author {
  border-top: 1px solid #eeeeee;
  padding: 20px;
  margin-top: 25px;
  width: 100%;
}

body #featured .fp-card .fp-body .fp-author .fp-author-left-side,
body #listing .fp-card .fp-body .fp-author .fp-author-left-side,
body #agent-list .fp-card .fp-body .fp-author .fp-author-left-side {
  display: inline-block;
}

body #featured .fp-card .fp-body .fp-author .fp-author-left-side .fp-author-img,
body #listing .fp-card .fp-body .fp-author .fp-author-left-side .fp-author-img,
body #agent-list .fp-card .fp-body .fp-author .fp-author-left-side .fp-author-img {
  width: 30px;
  display: inline-block;
}

body #featured .fp-card .fp-body .fp-author .fp-author-right-side,
body #listing .fp-card .fp-body .fp-author .fp-author-right-side,
body #agent-list .fp-card .fp-body .fp-author .fp-author-right-side {
  display: inline-block;
  margin-left: 75px;
}

body #find-properties {
  background-color: #fff;
}

body #find-properties .findp-post {
  position: relative;
  transition: all 0.6s ease;
}

body #find-properties .findp-post:hover {
  transform: scale(1.1) rotate(-1deg);
  transition: all 0.6s ease;
  cursor: pointer;
}

body #find-properties .findp-post .findp-thumb {
  overflow: hidden;
}

body #find-properties .findp-post .findp-thumb img {
  transition: all 0.6s ease;
}

body #find-properties .findp-post .overlay {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 0%, #1d293e 100%);
  border-radius: 0px 0px 10px 10px;
  bottom: 0;
  height: 244px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

body #find-properties .findp-post .overlay .findp-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
}

body #find-properties .findp-post .overlay .findp-title h5 {
  font-weight: 800;
}

body #why-us {
  background-color: #f7f7f7;
}

body #why-us .wcu-cards {
  padding: 50px 30px;
  background-color: #fff;
  border-radius: 8px;
}

body #why-us .wcu-cards:hover {
  cursor: pointer;
  box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);
}

body #why-us .wcu-cards:hover .wcu-cards-icon {
  background-color: #ff5a5f;
}

body #why-us .wcu-cards:hover .wcu-cards-icon .flaticon-high-five,
body #why-us .wcu-cards:hover .wcu-cards-icon .flaticon-home-1,
body #why-us .wcu-cards:hover .wcu-cards-icon .flaticon-profit {
  color: #fff;
}

body #why-us .wcu-cards .wcu-cards-icon {
  background-color: #ffe8e9;
  border-radius: 50%;
  height: 130px;
  line-height: 130px;
  margin: 0 auto;
  width: 130px;
  transition: all 0.3s ease;
}

body #why-us .wcu-cards .wcu-cards-icon:hover {
  background-color: #ff5a5f;
}

body #why-us .wcu-cards .wcu-cards-icon span {
  color: #ff5a5f;
  font-size: 68px;
  line-height: 130px;
}

body #why-us .wcu-cards .wcu-cards-body {
  margin-top: 50px;
}

body #why-us .wcu-cards .wcu-cards-body h5 {
  text-transform: capitalize;
  font-weight: 800;
}

body #why-us .wcu-cards .wcu-cards-body p {
  line-height: 1.7;
  font-size: 14px;
}

#testimonials {
  position: relative;
  background-color: #1d293e;
  color: #fff;
}

#testimonials:before {
  background-image: url(../uploads/img/bg2.jpg);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
}

#testimonials .sections-head h3,
#testimonials .sections-head p {
  color: #fff !important;
}

#testimonials .testi-card .testi-card-thumb img {
  border: 10px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: inline;
  height: 115px;
  width: 115px;
}

#testimonials .testi-card .testi-card-body .testi-card-body-header {
  line-height: 0.5;
  text-transform: capitalize;
}

#testimonials .testi-card .testi-card-body .testi-card-body-header p {
  font-size: 14px;
}

#testimonials .testi-card .testi-card-body-desc {
  font-size: 14px;
  line-height: 1.4;
}

#blog {
  background-color: #f7f7f7;
}

#blog .blog-card {
  height: 100%;
  margin-top: 30px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  transition: all 0.3s ease;
}

#blog .blog-card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
}

#blog .blog-card .blog-thumb img {
  border-radius: 8px;
}

#blog .blog-card .blog-body {
  margin: 15px 0 20px 10px;
}

#blog .blog-card .blog-body .blog-category {
  color: #ff5a5f;
  font-size: 14px;
}

#blog .blog-card .blog-body .blog-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
}

#blog .blog-card .blog-body .blog-author {
  border-top: 1px solid #eeeeee;
  padding-top: 20px;
  margin-top: 25px;
  color: #777777;
  font-size: 14px;
}

#blog .blog-card .blog-body .blog-author .blog-author-left-side {
  display: inline-block;
}

#blog .blog-card .blog-body .blog-author .blog-author-left-side .blog-author-img {
  display: inline-block;
}

#blog .blog-card .blog-body .blog-author .blog-author-right-side {
  display: inline-block;
  margin-left: 75px;
}

#partners {
  background-color: #fff;
}

#partners .partners-logo {
  text-align: center;
}

#become-rea {
  background-color: #ff5a5f;
  padding-bottom: 40px;
}

#become-rea .become-rea-info {
  color: #fff;
}

#become-rea .become-rea-info h3 {
  font-weight: bold;
}

#become-rea .become-rea-info p {
  font-size: 14px;
}

#become-rea .become-rea-reg button {
  width: 200px;
  height: 60px;
  border-radius: 8px;
  background-color: #ff787c;
  border-color: #ff787c;
  text-transform: capitalize;
}

#become-rea .become-rea-reg button:hover {
  background-color: #fff;
  color: #ff5a5f;
  border-color: #fff;
}

#footer-up {
  background-color: #24324a;
  color: #8a99b3;
  font-size: 14px;
}

#footer-up .footer-up-side h3 {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

#footer-up .footer-up-side p {
  line-height: 2.1;
  margin-bottom: 5px;
}

#footer-up .footer-up-side ul {
  list-style-type: none;
  padding: 0;
}

#footer-up .footer-up-side ul li {
  margin-bottom: 10px;
  text-transform: capitalize;
}

#footer-up .footer-up-side a {
  color: #8a99b3;
}

#footer-up .footer-up-side a:hover {
  color: #fff;
}

#footer-up .footer-up-side .footer-up-social {
  margin-bottom: 30px;
}

#footer-up .footer-up-side .footer-up-social a {
  margin-left: 25px;
}

#footer-up .footer-up-side .footer-up-social a:first-child {
  margin-left: 0;
}

#footer-up .footer-up-side .footer-up-subs .footer-up-subs-inp {
  position: relative;
}

#footer-up .footer-up-side .footer-up-subs .footer-up-subs-inp input {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #354765;
  border: 1px solid #354765;
  padding-left: 30px;
}

#footer-up .footer-up-side .footer-up-subs .footer-up-subs-inp .form-control {
  display: inline-block;
}

#footer-up .footer-up-side .footer-up-subs .footer-up-subs-inp .fas-button {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #354765;
}

#footer-up .footer-up-side .footer-up-subs .footer-up-subs-inp .fas-button i {
  line-height: 3.5;
}

#footer-down {
  background-color: #1d293e;
  color: #8a99b3;
  font-size: 14px;
}

#footer-down .footer-down-list ul {
  list-style-type: none;
}

#footer-down .footer-down-list ul li {
  display: inline-block;
  margin-left: 40px;
}

#footer-down .footer-down-list ul li:first-child {
  margin-left: 0;
}

#footer-down .footer-down-list ul li a {
  text-transform: capitalize;
  color: #8a99b3;
}

#footer-down .footer-down-list ul li a:hover {
  color: #fff;
}

#page-list-grid {
  background-color: #fff;
}

#page-list-grid h1,
#page-list-grid h2,
#page-list-grid h3,
#page-list-grid h4,
#page-list-grid h5,
#page-list-grid h6 {
  color: #484848;
}

#page-list-grid #listing {
  background-color: #f7f7f7;
}

#page-list-grid #listing .breadcrumb {
  background-color: transparent;
}

#page-list-grid #listing .breadcrumb .active {
  color: #ff5a5f;
}

#page-list-grid #listing .breadcrumb a {
  color: #555555;
}

#page-list-grid #listing .sidebar {
  background-color: #fff;
  border-radius: 8px;
  padding: 40px 30px;
  font-size: 14px;
}

#page-list-grid #listing .sidebar .sidebar-content .sidebar-item #keyword,
#page-list-grid #listing .sidebar .sidebar-content .sidebar-item #location {
  position: relative;
}

#page-list-grid #listing .sidebar .sidebar-content .sidebar-item #keyword i,
#page-list-grid #listing .sidebar .sidebar-content .sidebar-item #location i {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: #555555;
}

#page-list-grid #listing .sidebar .sidebar-content .sidebar-item input,
#page-list-grid #listing .sidebar .sidebar-content .sidebar-item select {
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  line-height: 1.2;
  padding-left: 20px;
}

#page-list-grid #listing .sidebar .sidebar-content .sidebar-item a {
  color: #555555;
  text-decoration: none;
}

#page-list-grid #listing .sidebar .sidebar-content .sidebar-item a i {
  margin-right: 10px;
  color: #555555;
}

#page-list-grid #listing .sidebar .sidebar-content .sidebar-item button {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}

#page-list-grid #listing .sidebar .sidebar-content .sidebar-item button:hover {
  background-color: #fff;
  border: 2px solid #ff5a5f;
  color: #ff5a5f;
}

#page-list-grid #listing .sidebar .sidebar-content .sidebar-item #min-area,
#page-list-grid #listing .sidebar .sidebar-content .sidebar-item #max-area {
  display: inline-block;
  width: 45%;
  margin-right: 20px;
}

#page-list-grid #listing .sidebar .sidebar-content .sidebar-item #min-area:last-child,
#page-list-grid #listing .sidebar .sidebar-content .sidebar-item #max-area:last-child {
  margin-right: 0;
}

#page-list-grid #listing .sidebar .sidebar-content .sidebar-item .card {
  border: none;
}

#page-list-grid #listing .sidebar .sidebar-content .sidebar-item .card .custom-control {
  margin-bottom: 15px;
}

#page-list-grid #listing .sidebar .sidebar-content .sidebar-item .card .custom-control .custom-control-input:checked ~ label::before {
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}

#page-list-grid #listing .filter {
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  height: 60px;
  margin: 0 auto 30px;
  padding: 0 15px;
  width: 96%;
  display: flex;
  color: #555555;
}

#page-list-grid #listing .filter .filter-left-side p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
}

#page-list-grid #listing .filter .filter-right-side {
  margin-top: 15px;
  font-size: 14px;
}

#page-list-grid #listing .filter .filter-right-side .filter-rs-status {
  position: relative;
  display: inline-block;
}

#page-list-grid #listing .filter .filter-right-side .filter-rs-status::after {
  position: absolute;
  content: "";
  background-color: #e8eef2;
  height: 35px;
  right: -10px;
  width: 1px;
}

#page-list-grid #listing .filter .filter-right-side .filter-rs-sort {
  display: inline-block;
  margin-left: 20px;
}

#page-list-grid #listing .filter .filter-right-side span {
  font-weight: bold;
}

#page-list-grid #listing .filter .filter-right-side .btn-group {
  display: inline-block;
}

#page-list-grid #listing .filter .filter-right-side .btn-group button {
  padding-left: 0;
}

#page-list-grid #listing .filter .filter-right-side .btn-group .btn-secondary {
  background-color: transparent;
  color: #000;
  font-size: 14px;
  border-color: transparent;
}

#page-list-grid #listing .fp-card {
  padding: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 30px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
}

#page-list-grid #listing .fp-card .fp-thumb img {
  border-radius: 8px 8px 0 0 !important;
}

#page-list-grid #listing .fp-card .fp-body {
  padding: 10px 10px 0 10px;
}

#page-list-grid #listing .fp-card .fp-body .fp-author .fp-author-name {
  margin-left: 15px;
}

#page-list-grid #listing .pagination .page-item {
  margin-right: 20px;
}

#page-list-grid #listing .pagination .page-item .disabled {
  background-color: #ff5a5f;
  color: #fff !important;
}

#page-list-grid #listing .pagination .page-item .page-link {
  border-radius: 50%;
  color: #555555;
  font-weight: 400;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 2.5;
  border-color: #ebebeb;
  font-size: 14px;
  color: #777777;
}

#page-list-grid #listing .pagination .page-item .page-link:hover {
  background-color: #ff5a5f;
  color: #fff;
}

#page-listing-agent {
  color: #484848;
}

#page-listing-agent #agent-list {
  background-color: #f7f7f7;
}

#page-listing-agent #agent-list .breadcrumb {
  background-color: transparent;
}

#page-listing-agent #agent-list .breadcrumb .active {
  color: #ff5a5f;
}

#page-listing-agent #agent-list .breadcrumb a {
  color: #555555;
}

#page-listing-agent #agent-list .change-view .change-view-grid,
#page-listing-agent #agent-list .change-view .change-view-list {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  line-height: 3;
  margin-right: 10px;
  transition: all 0.3s ease;
}

#page-listing-agent #agent-list .change-view .change-view-grid:last-child,
#page-listing-agent #agent-list .change-view .change-view-list:last-child {
  margin-right: 0;
}

#page-listing-agent #agent-list .change-view .change-view-grid:hover,
#page-listing-agent #agent-list .change-view .change-view-list:hover {
  background-color: #e3e3e3;
  cursor: pointer;
}

#page-listing-agent #agent-list .sidebar {
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  padding: 30px 25px;
  font-size: 14px;
  margin-bottom: 30px;
}

#page-listing-agent #agent-list .sidebar .sidebar-content .sidebar-title {
  margin-bottom: 25px;
}

#page-listing-agent #agent-list .sidebar .sidebar-content .sidebar-item a {
  color: #484848;
}

#page-listing-agent #agent-list .sidebar .sidebar-content .sidebar-item a:hover {
  color: #ff5a5f;
}

#page-listing-agent #agent-list .sidebar .sidebar-content .sidebar-item .mini-blog {
  margin-top: 20px;
  color: #484848;
  cursor: pointer;
}

#page-listing-agent #agent-list .sidebar .sidebar-content .sidebar-item .mini-blog .mini-blog-body .mbb-title {
  text-transform: capitalize;
}

#page-listing-agent #agent-list .sidebar .sidebar-content .sidebar-item .mini-blog .mini-blog-body .mbb-title h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
}

#page-listing-agent #agent-list .sidebar .sidebar-content .sidebar-item .mini-blog .mini-blog-body .mbb-price {
  color: #ff5a5f;
  font-weight: bold;
  font-size: 16px;
}

#page-listing-agent #agent-list .sidebar .sidebar-content .sidebar-item .mini-blog .mini-blog-body .mbb-price span {
  font-size: 14px;
  font-weight: normal;
}

#page-listing-agent #agent-list .sidebar .sidebar-content input,
#page-listing-agent #agent-list .sidebar .sidebar-content select {
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  line-height: 1.2;
  padding-left: 20px;
}

#page-listing-agent #agent-list .sidebar .sidebar-content i {
  margin-right: 10px;
  color: #555555;
}

#page-listing-agent #agent-list .sidebar .sidebar-content button {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}

#page-listing-agent #agent-list .sidebar .sidebar-content button:hover {
  background-color: #fff;
  border: 2px solid #ff5a5f;
  color: #ff5a5f;
}

#page-listing-agent #agent-list .sidebar .sidebar-thumb {
  position: relative;
  padding: 10px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
}

#page-listing-agent #agent-list .sidebar .sidebar-thumb:hover {
  cursor: pointer;
  box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);
}

#page-listing-agent #agent-list .sidebar .sidebar-thumb img {
  border-radius: 8px;
}

#page-listing-agent #agent-list .sidebar .sidebar-thumb .sidebar-for-rent,
#page-listing-agent #agent-list .sidebar .sidebar-thumb .sidebar-featured {
  position: absolute;
  text-transform: capitalize;
  padding: 2px 13px;
  border-radius: 5px;
  color: #fff;
}

#page-listing-agent #agent-list .sidebar .sidebar-thumb .sidebar-for-rent {
  top: 20px;
  left: 20px;
  background-color: #3e4c66;
}

#page-listing-agent #agent-list .sidebar .sidebar-thumb .sidebar-featured {
  top: 20px;
  left: 110px;
  background-color: #ff5a5f;
}

#page-listing-agent #agent-list .sidebar .sidebar-thumb .sidebar-price {
  position: absolute;
  color: #fff;
  font-size: 22px;
  font-weight: 900;
  bottom: 30px;
  left: 20px;
}

#page-listing-agent #agent-list .sidebar .sidebar-thumb .sidebar-price span {
  font-size: 14px;
  font-weight: normal;
}

#page-listing-agent #agent-list .sidebar .sidebar-thumb .sidebar-thumb-title {
  position: absolute;
  color: #fff;
  font-size: 18px;
  bottom: 20px;
  left: 20px;
}

#page-listing-agent #agent-list .filter {
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  height: 60px;
  margin: 0 auto 30px;
  padding: 0 15px;
  width: 96%;
  display: flex;
  color: #555555;
}

#page-listing-agent #agent-list .filter .filter-left-side p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
}

#page-listing-agent #agent-list .filter .filter-right-side {
  margin-top: 15px;
  font-size: 14px;
}

#page-listing-agent #agent-list .filter .filter-right-side .filter-rs-sort {
  display: inline-block;
  margin-left: 20px;
}

#page-listing-agent #agent-list .filter .filter-right-side span {
  font-weight: bold;
}

#page-listing-agent #agent-list .filter .filter-right-side .btn-group {
  display: inline-block;
}

#page-listing-agent #agent-list .filter .filter-right-side .btn-group button {
  padding-left: 0;
}

#page-listing-agent #agent-list .filter .filter-right-side .btn-group .btn-secondary {
  background-color: transparent;
  color: #000;
  font-size: 14px;
  border-color: transparent;
}

#page-listing-agent #agent-list .fp-card {
  margin-top: 0 !important;
  margin-bottom: 30px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
  transition: all 0.3s ease;
}

#page-listing-agent #agent-list .fp-card:hover {
  box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);
}

#page-listing-agent #agent-list .fp-card .fp-thumb img {
  border-radius: 8px !important;
}

#page-listing-agent #agent-list .fp-card .fp-body {
  padding: 10px 10px 0 10px;
  margin-left: 0;
}

#page-listing-agent #agent-list .fp-card .fp-body .fp-about {
  margin-top: 15px;
}

#page-listing-agent #agent-list .fp-card .fp-body .fp-about p {
  margin-bottom: 7px;
}

#page-listing-agent #agent-list .fp-card .fp-body .fp-author {
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
}

#page-listing-agent #agent-list .fp-card .fp-body .fp-author .fp-author-left-side {
  color: #777777;
  font-size: 14px;
}

#page-listing-agent #agent-list .fp-card .fp-body .fp-author .fp-author-left-side .fab {
  margin-right: 10px;
}

#page-listing-agent #agent-list .fp-card .fp-body .fp-author .fp-author-right-side {
  margin-left: 0;
}

#page-listing-agent #agent-list .fp-card .fp-body .fp-author .fp-author-right-side a {
  color: #ff5a5f;
  font-size: 14px;
}

#page-listing-agent #agent-list .pagination .page-item {
  margin-right: 20px;
}

#page-listing-agent #agent-list .pagination .page-item .disabled {
  background-color: #ff5a5f;
  color: #fff !important;
}

#page-listing-agent #agent-list .pagination .page-item .page-link {
  border-radius: 50%;
  color: #555555;
  font-weight: 400;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 2.5;
  border-color: #ebebeb;
  font-size: 14px;
  color: #777777;
}

#page-listing-agent #agent-list .pagination .page-item .page-link:hover {
  background-color: #ff5a5f;
  color: #fff;
}

#page-about {
  background-color: #f7f7f7;
  color: #484848;
}

#page-about #head-page-about {
  background-image: url(../uploads/img/inner-pagebg.jpg);
  background-repeat: no-repeat;
  position: relative;
}

#page-about #head-page-about::before {
  background-color: #1d293e;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 0;
}

#page-about #head-page-about .breadcrumb {
  background-color: transparent;
}

#page-about #head-page-about .breadcrumb .active {
  color: #fff;
}

#page-about #head-page-about .breadcrumb .active::before {
  color: #fff;
}

#page-about #head-page-about .breadcrumb a {
  color: #fff;
}

#page-about #head-page-about .sections-head {
  color: #fff;
}

#page-about #head-page-about .sections-head h3 {
  font-size: 40px;
}

#page-about #our-missions {
  background-color: #f7f7f7;
}

#page-about #our-missions .our-missions-about .oma-head,
#page-about #our-missions .our-missions-about .oma-body {
  margin-bottom: 45px;
}

#page-about #our-missions .our-missions-about .oma-head h5,
#page-about #our-missions .our-missions-about .oma-body h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
}

#page-about #our-missions .our-missions-about .oma-body p {
  font-size: 14px;
}

#page-about #our-missions .our-missions-about .oma-info .oma-info-icon,
#page-about #our-missions .our-missions-about .oma-info .oma-info-desc {
  display: inline-block;
}

#page-about #our-missions .our-missions-about .oma-info .oma-info-icon {
  font-size: 40px;
  color: #ff5a5f;
}

#page-about #our-missions .our-missions-about .oma-info .oma-info-desc {
  padding-left: 12px;
}

#page-about #our-missions .our-missions-about .oma-info .oma-info-desc p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: normal;
}

#page-about #our-missions .our-missions-about .oma-info .oma-info-desc .count {
  font-size: 22px;
  font-weight: bold;
}

#page-about #our-missions .our-missions-thumb {
  position: relative;
}

#page-about #our-missions .our-missions-thumb img {
  border-radius: 8px;
}

#page-about #our-missions .our-missions-thumb a {
  position: absolute;
  background: #ff5a5f;
  border-radius: 100%;
  font-size: 22px;
  height: 70px;
  left: 0;
  line-height: 70px;
  margin: 0 auto;
  right: 0;
  text-align: center;
  top: 39%;
  width: 70px;
}

#page-about #our-missions .our-missions-thumb a::after {
  background-color: rgba(255, 90, 95, 0.2);
  border-radius: 100%;
  content: "";
  height: 87px;
  left: -7px;
  position: absolute;
  top: -7px;
  width: 87px;
}

#page-about #our-missions .our-missions-thumb a i {
  color: #fff;
}

#page-about #why-us {
  padding: 5px 0;
}
