@import url(https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap);
body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.642;
}

body a:hover {
  text-decoration: none;
}

body section {
  padding: 60px 0;
}

body .col-half-offset {
  margin-left: 4.166666667%;
}

body #header-info {
  background-image: url(../uploads/img/bg.jpg);
  background-size: cover;
  background-position: center center;
  height: 1000px;
  padding: 30px 0 0 15px;
  background-color: #1d293e;
}

body #header-info .navbar-brand {
  font-weight: 800;
}

body #header-info a {
  color: #fff;
}

body #header-info ul li {
  margin-right: 40px;
}

body #header-info .find-home {
  margin-top: 300px;
}

body #header-info .find-home .fh-about {
  color: #fff;
}

body #header-info .find-home .fh-about h1 {
  font-weight: 800;
  font-size: 55px;
  text-transform: capitalize;
}

body #header-info .find-home .fh-about h5 {
  font-weight: 550;
}

body #header-info .find-home .fh-pills {
  margin-top: 40px;
}

body #header-info .find-home .fh-pills ul li {
  display: inline-block;
  width: 120px;
  height: 50px;
  background-color: #fff;
  border-radius: 8px;
}

body #header-info .find-home .fh-pills ul li a {
  color: #000;
  line-height: 3.1;
  font-weight: 550;
}

body #header-info .find-home .fh-pills ul .active {
  background-color: #ff5a5f;
}

body #header-info .find-home .fh-pills .tab-content .fh-search {
  background-color: #fff;
  border: 5px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body {
  padding: 30px 15px;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .form-control {
  display: inline-block;
  width: auto;
  color: #000;
  font-size: 14px;
  height: 50px;
  margin-left: 20px;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .form-control::placeholder {
  color: #000;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .fh-search-location {
  position: relative;
  display: inline-block;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .fh-search-location .fas {
  position: absolute;
  right: 13px;
  top: 17px;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .fh-dropdown {
  position: relative;
  color: #000;
  display: inline-block;
  font-size: 14px;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .fh-dropdown .fh-dpd {
  position: absolute;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .btn {
  width: 170px;
  height: 50px;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
  border-radius: 8px;
  font-weight: 600;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .btn:hover {
  background-color: #fff;
  border: 2px solid #ff5a5f;
  color: #ff5a5f;
}

body #featured {
  background-color: #f7f7f7;
  height: 1000px;
}

body #featured h3 {
  font-weight: 800;
  text-transform: capitalize;
  font-size: 2rem;
}

body #featured p {
  color: #777777;
  letter-spacing: 1px;
}

body #featured .fp-card {
  margin-top: 30px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  transition: all 0.3s ease;
}

body #featured .fp-card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
}

body #featured .fp-card .fp-thumb {
  position: relative;
}

body #featured .fp-card .fp-thumb img {
  border-radius: 8px;
}

body #featured .fp-card .fp-thumb .red-con {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ff5a5f;
  color: #fff;
  padding: 3px 12px;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 14px;
}

body #featured .fp-card .fp-thumb .fp-on-thumb {
  position: relative;
}

body #featured .fp-card .fp-thumb .fp-on-thumb .fp-left-side {
  position: absolute;
  top: -45px;
  left: 30px;
}

body #featured .fp-card .fp-thumb .fp-on-thumb .fp-left-side .fp-price {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
}

body #featured .fp-card .fp-thumb .fp-on-thumb .fp-left-side .text-muted {
  color: #fff !important;
}

body #featured .fp-card .fp-thumb .fp-on-thumb .fp-right-side {
  position: absolute;
  right: 30px;
  bottom: 10px;
  color: #fff;
}

body #featured .fp-card .fp-thumb .fp-on-thumb .fp-right-side .fp-black-bg {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  width: 35px;
  height: 35px;
  margin: 3px;
  border-radius: 8px;
  text-align: center;
}

body #featured .fp-card .fp-thumb .fp-on-thumb .fp-right-side .fp-black-bg i {
  line-height: 2.2;
}

body #featured .fp-card .fp-body {
  margin-top: 15px;
}

body #featured .fp-card .fp-body .fp-category {
  color: #ff5a5f;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */