@import url(https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap);
body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.642;
}

body a:hover {
  text-decoration: none;
}

body section {
  padding: 60px 0;
}

body .col-half-offset {
  margin-left: 4.166666667%;
}

body #header-info {
  background-image: url(../uploads/img/bg.jpg);
  background-size: cover;
  background-position: center center;
  height: 1000px;
  padding: 30px 0 0 15px;
  background-color: #1d293e;
}

body #header-info .navbar-brand {
  font-weight: 800;
}

body #header-info a {
  color: #fff;
}

body #header-info ul li {
  margin-right: 40px;
}

body #header-info .find-home {
  margin-top: 300px;
}

body #header-info .find-home .fh-about {
  color: #fff;
}

body #header-info .find-home .fh-about h1 {
  font-weight: 800;
  font-size: 55px;
  text-transform: capitalize;
}

body #header-info .find-home .fh-about h5 {
  font-weight: 550;
}

body #header-info .find-home .fh-pills {
  margin-top: 40px;
}

body #header-info .find-home .fh-pills ul li {
  display: inline-block;
  width: 120px;
  height: 50px;
  background-color: #fff;
  border-radius: 8px;
}

body #header-info .find-home .fh-pills ul li a {
  color: #000;
  line-height: 3.1;
  font-weight: 550;
}

body #header-info .find-home .fh-pills ul .active {
  background-color: #ff5a5f;
}

body #header-info .find-home .fh-pills .tab-content .fh-search {
  background-color: #fff;
  border: 5px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body {
  padding: 30px 15px;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .form-control {
  display: inline-block;
  width: auto;
  color: #000;
  font-size: 14px;
  height: 50px;
  margin-left: 20px;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .form-control::placeholder {
  color: #000;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .fh-search-location {
  position: relative;
  display: inline-block;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .fh-search-location .fas {
  position: absolute;
  right: 13px;
  top: 17px;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .fh-dropdown {
  position: relative;
  color: #000;
  display: inline-block;
  font-size: 14px;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .fh-dropdown .fh-dpd {
  position: absolute;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .btn {
  width: 170px;
  height: 50px;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
  border-radius: 8px;
  font-weight: 600;
}

body #header-info .find-home .fh-pills .tab-content .fh-search .fh-search-body .btn:hover {
  background-color: #fff;
  border: 2px solid #ff5a5f;
  color: #ff5a5f;
}

body #featured {
  background-color: #f7f7f7;
  height: 1000px;
}

body #featured h3 {
  font-weight: 800;
  text-transform: capitalize;
  font-size: 2rem;
}

body #featured p {
  color: #777777;
  letter-spacing: 1px;
}
/*# sourceMappingURL=style.css.map */