@import url(https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap);
@import "colors";
@import "flaticon";

body {
  background-color: $white;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #484848;
  }
}

#page-head {
  padding: 10px 0;
  nav {
    .navbar-brand {
      span {
        line-height: 1.8;
        font-weight: bold;
        font-size: 28px;
        margin-left: 10px;
      }
    }
    ul {
      li {
        margin-right: 30px;
        &:nth-child(6) {
          margin-right: 0;
        }
        a {
          color: #484848;
        }
        button {
          font-size: 16px;
          background-color: $main-color;
          border-color: $main-color;
          color: $white;
          width: 180px;
          height: 50px;
          border-radius: 25px;
          text-transform: capitalize;
        }
      }
      .nav-login {
        position: relative;
        &::before {
          background-color: #e8eef2;
          content: "";
          height: 38px;
          left: -5px;
          position: absolute;
          right: 0;
          width: 1px;
          margin-left: 5px;
        }
        .flaticon-user {
          &::before {
            padding-right: 10px;
          }
        }
      }
    }
  }
}

#listing {
  background-color: #f7f7f7;
  height: 2000px;
  .breadcrumb {
    background-color: transparent;
    .active {
      color: $main-color;
    }
    a {
      color: #555555;
    }
  }
  .sidebar {
    background-color: $white;
    border-radius: 8px;
    padding: 40px;
    font-size: 14px;
    .sidebar-content {
      .sidebar-item {
        #keyword,
        #location {
          position: relative;
          i {
            position: absolute;
            right: 15px;
            bottom: 15px;
            color: #555555;
          }
        }
        input,
        select {
          height: 50px;
          border-radius: 8px;
          border: 1px solid rgb(235, 235, 235);
          line-height: 1.2;
          padding-left: 20px;
        }
      }
    }
  }
}
