@import url(https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap);
@import "colors";
@import "flaticon";

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.642;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  section {
    padding: 60px 0;
    .sections-head {
      h3 {
        font-weight: 800;
        text-transform: capitalize;
        font-size: 2rem;
      }
      p {
        color: rgb(119, 119, 119);
        letter-spacing: 1px;
      }
    }
  }
  .col-half-offset {
    margin-left: 4.166666667%;
  }

  ////////////// OWL SETTINGS //////////////
  .owl-one,
  .owl-two {
    .owl-dots {
      .owl-dot {
        background-color: transparent;
        margin-right: 15px;
        vertical-align: middle;
        transition: all 0.3s ease;
        span {
          background-color: #cccccc;
          border-radius: 50%;
          margin: 3px;
          width: 6px;
          height: 6px;
          transition: all 0.3s ease;
        }
        &:hover span {
          background: #869791;
        }
      }
      .active {
        span {
          background-color: #202020 !important;
          border: 5px solid #e0e2e3;
          height: 15px;
          width: 15px;
        }
      }
    }
  }
  ////////////// OWL SETTINGS //////////////

  //////////////// HEADER SECTION START ////////////////
  #header-info {
    background-image: url(../uploads/img/bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 1000px;
    padding: 30px 0 0 15px;
    background-color: rgb(29, 41, 62);

    .navbar-brand {
      font-weight: 800;
    }
    a {
      color: $white;
    }
    ul {
      li {
        margin-right: 40px;
      }
    }
    .find-home {
      margin-top: 300px;
      .fh-about {
        color: $white;
        h1 {
          font-weight: 800;
          font-size: 55px;
          text-transform: capitalize;
        }
        h5 {
          font-weight: 550;
        }
      }
      .fh-pills {
        margin-top: 40px;
        ul {
          li {
            display: inline-block;
            width: 120px;
            height: 50px;
            background-color: $white;
            border-radius: 8px;
            a {
              color: $black;
              line-height: 3.1;
              font-weight: 550;
            }
          }
          .active {
            background-color: $main-color;
          }
        }
        .tab-content {
          position: relative;
          .fh-dpd {
            background-color: $white;
            border-radius: 8px;
            box-shadow: 0px 0px 50px 0px rgba(32, 32, 32, 0.15);
            right: 0;
            position: absolute;
            top: 150px;
            width: 100%;
            padding: 30px;
            color: #4f4f4f;
            h2 {
              color: #006c70;
              font-size: 18px;
              text-align: left;
            }
            .form-check {
              margin-bottom: 30px;
              font-size: 14px;
              text-transform: capitalize;
              .form-check-input {
                border: 1px solid #dddddd;
              }
            }
            select {
              width: 190px;
              height: 50px;
              color: #4f4f4f;
              font-size: 14px;
              border: 1px solid #ebebeb;
              line-height: 40px;
              background-color: $white;
              border-radius: 8px;
            }
            button {
              color: $main-color;
              font-weight: bold;
            }
          }
          .fh-search {
            background-color: $white;
            border: 5px solid rgba(255, 255, 255, 0.15);
            border-radius: 8px;
            .fh-search-body {
              padding: 30px 15px;
              .form-control {
                display: inline-block;
                width: auto;
                color: $black;
                font-size: 14px;
                height: 50px;
                margin-left: 20px;
                &::placeholder {
                  color: $black;
                }
              }
              .fh-search-location {
                position: relative;
                display: inline-block;
                .fas {
                  position: absolute;
                  right: 13px;
                  top: 17px;
                }
              }
              .fh-dropdown {
                position: relative;
                color: $black;
                display: inline-block;
                font-size: 14px;
              }
              .btn {
                width: 170px;
                height: 50px;
                background-color: $main-color;
                border-color: $main-color;
                border-radius: 8px;
                font-weight: 600;
                &:hover {
                  background-color: $white;
                  border: 2px solid $main-color;
                  color: $main-color;
                }
              }
            }
          }
        }
      }
    }
  }
  //////////////// HEADER SECTION END ////////////////

  //////////////// FEATURED SECTION START ////////////////
  #featured {
    background-color: $section-bg;
    .fp-card {
      margin-top: 30px;
      background-color: $white;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ebebeb;
      transition: all 0.3s ease;
      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
      }
      .fp-thumb {
        position: relative;
        img {
          border-radius: 8px;
        }
        .red-con {
          position: absolute;
          top: 20px;
          left: 20px;
          background-color: $main-color;
          color: $white;
          padding: 3px 12px;
          border-radius: 3px;
          text-transform: capitalize;
          font-size: 14px;
        }
        .fp-on-thumb {
          position: relative;
          .fp-left-side {
            position: absolute;
            top: -45px;
            left: 30px;
            .fp-price {
              font-size: 22px;
              color: $white;
              font-weight: 700;
            }
            .text-muted {
              color: $white !important;
            }
          }
          .fp-right-side {
            position: absolute;
            right: 30px;
            bottom: 10px;
            color: $white;
            .fp-black-bg {
              display: inline-block;
              background-color: rgba(0, 0, 0, 0.5);
              width: 35px;
              height: 35px;
              margin: 3px;
              border-radius: 8px;
              text-align: center;
              i {
                line-height: 2.2;
              }
            }
          }
        }
      }
      .fp-body {
        margin: 15px 0 20px 10px;
        .fp-category {
          color: $main-color;
          font-size: 14px;
        }
        .fp-title {
          font-weight: 700;
          font-size: 18px;
        }
        .fp-address {
          font-size: 14px;
          line-height: 1.2;
          word-spacing: -3px;
        }
        .fp-about {
          font-size: 14px;
          line-height: 1.2;
          .fp-about-bed,
          .fp-about-baths {
            margin-right: 30px;
          }
        }
        .fp-author {
          border-top: 1px solid #eeeeee;
          padding: 20px;
          margin-top: 25px;
          width: 100%;
          .fp-author-left-side {
            display: inline-block;
            .fp-author-img {
              width: 30px;
              display: inline-block;
            }
          }
          .fp-author-right-side {
            display: inline-block;
            margin-left: 75px;
          }
        }
      }
    }
  }
  //////////////// FEATURED SECTION END ////////////////

  //////////////// FIND PROPERTIES SECTION START ////////////////
  #find-properties {
    background-color: $white;
    .findp-post {
      position: relative;
      transition: all 0.6s ease;
      &:hover {
        transform: scale(1.1) rotate(-1deg);
        transition: all 0.6s ease;
        cursor: pointer;
      }
      .findp-thumb {
        overflow: hidden;
        img {
          transition: all 0.6s ease;
        }
      }
      .overlay {
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.01) 0%,
          rgba(29, 41, 62, 1) 100%
        );
        border-radius: 0px 0px 10px 10px;
        bottom: 0;
        height: 244px;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        .findp-title {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          color: $white;
          h5 {
            font-weight: 800;
          }
        }
      }
    }
  }
  //////////////// FIND PROPERTIES SECTION END ////////////////

  //////////////// WHY US SECTION START ////////////////
  #why-us {
    background-color: $section-bg;
    .wcu-cards {
      padding: 50px 30px;
      background-color: $white;
      border-radius: 8px;
      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 50px 0px rgba(19, 19, 28, 0.12);
        .wcu-cards-icon {
          background-color: $main-color;
          .flaticon-high-five,
          .flaticon-home-1,
          .flaticon-profit {
            color: $white;
          }
        }
      }
      .wcu-cards-icon {
        background-color: #ffe8e9;
        border-radius: 50%;
        height: 130px;
        line-height: 130px;
        margin: 0 auto;
        width: 130px;
        transition: all 0.3s ease;
        &:hover {
          background-color: $main-color;
        }
        span {
          color: $main-color;
          font-size: 68px;
          line-height: 130px;
        }
      }
      .wcu-cards-body {
        margin-top: 50px;
        h5 {
          text-transform: capitalize;
          font-weight: 800;
        }
        p {
          line-height: 1.7;
          font-size: 14px;
        }
      }
    }
  }
  //////////////// WHY US SECTION END ////////////////
}

//////////////// TESTIMONIALS SECTION START ////////////////
#testimonials {
  position: relative;
  background-color: #1d293e;
  color: $white;
  &:before {
    background-image: url(../uploads/img/bg2.jpg);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
  }
  .sections-head {
    h3,
    p {
      color: $white !important;
    }
  }
  .testi-card {
    .testi-card-thumb {
      img {
        border: 10px solid rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        display: inline;
        height: 115px;
        width: 115px;
      }
    }
    .testi-card-body {
      .testi-card-body-header {
        line-height: 0.5;
        text-transform: capitalize;
        p {
          font-size: 14px;
        }
      }
    }
    .testi-card-body-desc {
      font-size: 14px;
      line-height: 1.4;
    }
  }
}
//////////////// TESTIMONIALS SECTION END ////////////////

//////////////// BLOG SECTION START ////////////////
#blog {
  background-color: $section-bg;
  .blog-card {
    height: 100%;
    margin-top: 30px;
    background-color: $white;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
    }
    .blog-thumb {
      img {
        border-radius: 8px;
      }
    }
    .blog-body {
      margin: 15px 0 20px 10px;
      .blog-category {
        color: $main-color;
        font-size: 14px;
      }
      .blog-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 1.2;
      }
      .blog-author {
        border-top: 1px solid #eeeeee;
        padding-top: 20px;
        margin-top: 25px;
        color: #777777;
        font-size: 14px;
        .blog-author-left-side {
          display: inline-block;
          .blog-author-img {
            display: inline-block;
          }
        }
        .blog-author-right-side {
          display: inline-block;
          margin-left: 75px;
        }
      }
    }
  }
}
//////////////// BLOG SECTION END ////////////////

//////////////// PARTNER SECTION START ////////////////
#partner {
  background-color: $white;
  .partners-logo {
    text-align: center;
  }
}
//////////////// PARTNER SECTION START ////////////////

//////////////// BECOME A REAL ESTATE AGENT SECTION START ////////////////
#become-rea {
  background-color: $main-color;
  padding-bottom: 40px;
  .become-rea-info {
    color: $white;
    h3 {
      font-weight: bold;
    }
    p {
      font-size: 14px;
    }
  }
  .become-rea-reg {
    button {
      width: 200px;
      height: 60px;
      border-radius: 8px;
      background-color: rgb(255, 120, 124);
      border-color: rgb(255, 120, 124);
      text-transform: capitalize;
      &:hover {
        background-color: $white;
        color: $main-color;
        border-color: $white;
      }
    }
  }
}
//////////////// BECOME A REAL ESTATE AGENT SECTION START ////////////////

//////////////// FOOTER UP SECTION START ////////////////
#footer-up {
  background-color: #24324a;
  color: #8a99b3;
  font-size: 14px;
  .footer-up-side {
    h3 {
      color: $white;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 30px;
      text-transform: capitalize;
    }
    p {
      line-height: 2.1;
      margin-bottom: 5px;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        margin-bottom: 10px;
        text-transform: capitalize;
      }
    }
    a {
      color: #8a99b3;
      &:hover {
        color: $white;
      }
    }
    .footer-up-social {
      margin-bottom: 30px;
      a {
        margin-left: 25px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .footer-up-subs {
      .footer-up-subs-inp {
        position: relative;
        input {
          width: 200px;
          height: 50px;
          border-radius: 50px;
          background-color: #354765;
          border: 1px solid #354765;
          padding-left: 30px;
        }
        .form-control {
          display: inline-block;
        }
        .fas-button {
          display: inline-block;
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: #354765;
          i {
            line-height: 3.5;
          }
        }
      }
    }
  }
}
//////////////// FOOTER UP SECTION END ////////////////

//////////////// FOOTER DOWN SECTION END ////////////////
#footer-down {
  background-color: #1d293e;
  color: #8a99b3;
  font-size: 14px;
  .footer-down-list {
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        margin-left: 40px;
        &:first-child {
          margin-left: 0;
        }
        a {
          text-transform: capitalize;
          color: #8a99b3;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}
//////////////// FOOTER DOWN SECTION END ////////////////
