@import url(https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap);
@import "colors";

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.642;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  section {
    padding: 60px 0;
    .sections-head {
      h3 {
        font-weight: 800;
        text-transform: capitalize;
        font-size: 2rem;
      }
      p {
        color: rgb(119, 119, 119);
        letter-spacing: 1px;
      }
    }
  }
  .col-half-offset {
    margin-left: 4.166666667%;
  }
  //////////////// HEADER SECTION START ////////////////
  #header-info {
    background-image: url(../uploads/img/bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 1000px;
    padding: 30px 0 0 15px;
    background-color: rgb(29, 41, 62);

    .navbar-brand {
      font-weight: 800;
    }
    a {
      color: $white;
    }
    ul {
      li {
        margin-right: 40px;
      }
    }
    .find-home {
      margin-top: 300px;
      .fh-about {
        color: $white;
        h1 {
          font-weight: 800;
          font-size: 55px;
          text-transform: capitalize;
        }
        h5 {
          font-weight: 550;
        }
      }
      .fh-pills {
        margin-top: 40px;
        ul {
          li {
            display: inline-block;
            width: 120px;
            height: 50px;
            background-color: $white;
            border-radius: 8px;
            a {
              color: $black;
              line-height: 3.1;
              font-weight: 550;
            }
          }
          .active {
            background-color: $main-color;
          }
        }
        .tab-content {
          .fh-search {
            background-color: $white;
            border: 5px solid rgba(255, 255, 255, 0.15);
            border-radius: 8px;
            .fh-search-body {
              padding: 30px 15px;
              .form-control {
                display: inline-block;
                width: auto;
                color: $black;
                font-size: 14px;
                height: 50px;
                margin-left: 20px;
                &::placeholder {
                  color: $black;
                }
              }
              .fh-search-location {
                position: relative;
                display: inline-block;
                .fas {
                  position: absolute;
                  right: 13px;
                  top: 17px;
                }
              }
              .fh-dropdown {
                position: relative;
                color: $black;
                display: inline-block;
                font-size: 14px;
                .fh-dpd {
                  position: absolute;
                }
              }
              .btn {
                width: 170px;
                height: 50px;
                background-color: $main-color;
                border-color: $main-color;
                border-radius: 8px;
                font-weight: 600;
                &:hover {
                  background-color: $white;
                  border: 2px solid $main-color;
                  color: $main-color;
                }
              }
            }
          }
        }
      }
    }
  }
  //////////////// HEADER SECTION END ////////////////

  //////////////// FEATURED SECTION START ////////////////
  #featured {
    background-color: #f7f7f7;
    .fp-card {
      margin-top: 30px;
      background-color: $white;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ebebeb;
      transition: all 0.3s ease;
      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
      }
      .fp-thumb {
        position: relative;
        img {
          border-radius: 8px;
        }
        .red-con {
          position: absolute;
          top: 20px;
          left: 20px;
          background-color: $main-color;
          color: $white;
          padding: 3px 12px;
          border-radius: 3px;
          text-transform: capitalize;
          font-size: 14px;
        }
        .fp-on-thumb {
          position: relative;
          .fp-left-side {
            position: absolute;
            top: -45px;
            left: 30px;
            .fp-price {
              font-size: 22px;
              color: $white;
              font-weight: 700;
            }
            .text-muted {
              color: $white !important;
            }
          }
          .fp-right-side {
            position: absolute;
            right: 30px;
            bottom: 10px;
            color: $white;
            .fp-black-bg {
              display: inline-block;
              background-color: rgba(0, 0, 0, 0.5);
              width: 35px;
              height: 35px;
              margin: 3px;
              border-radius: 8px;
              text-align: center;
              i {
                line-height: 2.2;
              }
            }
          }
        }
      }
      .fp-body {
        margin: 15px 0 20px 10px;
        .fp-category {
          color: $main-color;
          font-size: 14px;
        }
        .fp-title {
          font-weight: 700;
          font-size: 18px;
        }
        .fp-address {
          font-size: 14px;
          line-height: 1.2;
          word-spacing: -3px;
        }
        .fp-about {
          font-size: 14px;
          line-height: 1.2;
          .fp-about-bed,
          .fp-about-baths {
            margin-right: 30px;
          }
        }
        .fp-author {
          border-top: 1px solid #eeeeee;
          padding: 20px;
          margin-top: 25px;
          width: 100%;
          .fp-author-left-side {
            display: inline-block;
            .fp-author-img {
              width: 30px;
              display: inline-block;
            }
          }
          .fp-author-right-side {
            display: inline-block;
            margin-left: 75px;
          }
        }
      }
    }
  }
  //////////////// FEATURED SECTION END ////////////////

  //////////////// FIND PROPERTIES SECTION START ////////////////
  #find-properties {
    background-color: $white;
    .findp-post {
      position: relative;
      transition: all 0.6s ease;
      &:hover {
        transform: scale(1.1) rotate(-1deg);
        transition: all 0.6s ease;
        cursor: pointer;
      }
      .findp-thumb {
        overflow: hidden;
        img {
          transition: all 0.6s ease;
        }
      }
      .overlay {
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.01) 0%,
          rgba(29, 41, 62, 1) 100%
        );
        border-radius: 0px 0px 10px 10px;
        bottom: 0;
        height: 244px;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        .findp-title {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          color: $white;
          h5 {
            font-weight: 800;
          }
        }
      }
    }
  }
  //////////////// FIND PROPERTIES SECTION END ////////////////

  //////////////// WHY US SECTION START ////////////////
  #why-us {
    background-color: #f7f7f7;
    height: 1000px;
  }
  //////////////// WHY US SECTION END ////////////////
}
